h1 {
    text-align: center;
    font-family: 'B612', sans-serif;
    font-size: 50px;
    color: #123c29;
}

.header {
  grid-area: header;
  justify-self: center;
}

.translation {
  width: 70%;
  grid-area: translation; 
  justify-self: end;
}
.text {
  grid-area: text;
  justify-self: center;
  font-family: 'B612', sans-serif;
}

.book {
  width: 70%;
  grid-area: book; 
  justify-self: center;
}

.chapter {
  width: 70%;
  grid-area: chapter; 
  justify-self: start;
}

.container {
  align-self: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header header header header"
    ". translation . book . chapter ."
    ". text text text text text .";
  grid-column-gap: 10px;
}